* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: linear-gradient(135deg, #111 25%, #777 25%, #777 50%, #fff 25%, #fff 75%, #111 75%);
  background-size: 100% 250%;
  height: 500px;
  
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

header {
  background-color: #777;
  padding: 1rem;

  h1 {
    margin-bottom: 0.5rem;
  }
}

input, select, button {
  font-size: 14px;
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  #search-filters {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;

    input[type="text"] {
      padding: 0.5rem;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      transition: border-color 0.3s;
      outline: none;

      &:focus {
        border-color: black;
      }
    }

    #filter-menu,
    #sorting-menu {
      display: flex;
      gap: 1rem;
      align-items: center;

      label {
        margin-right: 0.5rem;
      }

      select {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
      }
    }
  }
}

#add-book-form {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 10px auto;
  margin-bottom: 10px;
  animation: fadeIn 1.6s;
  color: #f0f0f0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#book-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"],
  input[type="url"] {
    width: 100%;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: black;
    transition: box-shadow 0.3s;

    &:focus {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      outline: none;
    }
  }

  input[type="submit"] {
    grid-column: span 2;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;

    &:hover {
      background-color: #555;
      transform: translateY(-2px);
    }
  }
}

.booklist-item {
  background-color: #f0f0f0;
  background-image: linear-gradient(45deg, rgba(128, 128, 128, 0.1) 25%, transparent 25%, transparent 75%, rgba(128, 128, 128, 0.1) 75%, rgba(128, 128, 128, 0.1)),
    linear-gradient(45deg, rgba(128, 128, 128, 0.1) 25%, transparent 25%, transparent 75%, rgba(128, 128, 128, 0.1) 75%, rgba(128, 128, 128, 0.1));
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  margin: 1rem;
  margin-top: 80px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  overflow: hidden;
  animation: moveBackground 5s linear infinite;
  
}

.booklist-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation-play-state: paused;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0, 40px 40px;
  }
  100% {
    background-position: 80px 0, 120px 40px;
  }
}

.generated-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 3px;
  width: 48%;

  &:hover {
    background-color: #555;
  }
}

.generated-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.book-image {
  position: relative;
  width: 200px;
  height: 250px;
  overflow: hidden;
}

.book-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.swiper-container {
  width: 300px;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  color: white;
}

#booklist {
  position: relative;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

.logo {
  position: relative;
  margin-right: 1rem;
  font-size: 24px;
  font-weight: 700;

  &:before {
    content: 'Booklist';
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    animation: logoAnimation 5s infinite;
  }
}

.arrow {
  display: inline-block;
  margin-left: 0.25rem;
  transition: transform 0.3s ease;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f8f9fa;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 8px 12px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1), padding-top 0.3s cubic-bezier(0.4, 0, 0.2, 1), padding-bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  top: 100%;
  left: -14px;
  border-radius: 4px;
}

.filter-menu:hover .dropdown-menu,
.sorting-menu:hover .dropdown-menu {
  display: block;
  max-height: none;
}

.icon-button {
  background-color: #000000;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;

  &:hover{
    background-color: #ffffff;
    color: #000000;
  }
  &:focus{
    outline: none;
  }

}

@keyframes logoAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 480px) {
  #book-form {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 0.5rem;
  }
  #search-filters {
    flex-direction: column;
    gap: 0.5rem;
  }

  #filter-menu,
  #sorting-menu {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  nav {
    flex-direction: row;
  }
  .logo {
    margin-right: 1rem;
  }
  #search-filters {
    flex-direction: row;
    gap: 1rem;
  }

  #filter-menu,
  #sorting-menu {
    flex-direction: row;
  }
}